body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: rgba(223, 224, 247, 0.9)
}

header, footer {
    background-color: rgb(244, 167, 180);
    padding: 15px;
    text-align: center;

}
.site-title {
    
    color: rgb(69, 43, 64);
    font-family: fantasy;
    font-size: 23px;
}
#my-image {
    box-shadow: 0 0 2px 1px rgb(0, 0, 0);
    margin-top: 10px;
}
main ul {
    list-style-type: square;
    padding-left: 20px;
}

main ul li:nth-child(odd) {
    background-color: #f781a5;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 5px;
}
nav a {
    background-color: rgb(239, 193, 225);
    border: 1px solid rgb(237, 237, 237);
    padding: 5px 10px;
    text-decoration: none;
    font-family:fantasy
}
    
nav a:hover{
    background-color: rgb(243, 76, 173);
    color: white;
}