body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: rgba(223, 224, 247, 0.9)
}
header, footer {
    background-color: rgb(244, 167, 180);
    padding: 15px;
    text-align: center;

}
.site-title {
    
    color: rgb(69, 43, 64);
    font-family: fantasy;
    font-size: 23px;
}
    
nav a {
    background-color: rgb(239, 193, 225);
    border: 1px solid rgb(237, 237, 237);
    padding: 5px 10px;
    text-decoration: none;
    font-family:fantasy
  
}
ul {
    list-style-type: square;
    padding-left: 20px;
}

nav a:hover{
    background-color: rgb(243, 76, 173);
    color: white;
    
}

nav li {
    display: inline-block;
    margin: 5px;
    font-family: fantasy;
    font-size: 18px;
}